### Mac
._*
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes

### VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
