# macOS
._*
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs
*.log
*.log.*
logs/

# Certificates
*.key
*.p12
*.pem

# Python
__pycache__/
*.py[cod]
.venv/

# Node.js
.npm/
.pnpm-store/
node_modules/

# Environment
.env
.env.*

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
