[includeIf "hasconfig:remote.*.url:**/suzel/**"]
	path = ~/.config/git/config.local

[format]
	pretty = oneline

[color]
	ui = true

[core]
	autocrlf = input
	editor = code --wait
	fsmonitor = true
	untrackedCache = true
	whitespace = fix,-indent-with-non-tab,trailing-space
	excludesfile = ~/.config/git/ignore

[push]
	default = simple

[pull]
	rebase = true

[fetch]
	prune = true
	pruneTags = true
	fsckobjects = true

[rebase]
	autoSquash = true
	autostash = true
	updateRefs = true

[rerere]
	enabled = true
	autoupdate = true

[init]
	defaultBranch = main

[credential]
	helper = osxkeychain

[alias]
	a = add --all
	ai = add -i
	c = commit
	ca = commit -a
	cm = commit -m
	d = diff
	dc = diff --cached
	dl = difftool
	dlc = difftool --cached
	f = fetch
	fo = fetch origin
	fu = fetch upstream
	g = grep -p
	l = log --oneline
	lg = log --oneline --graph --decorate
	ls = ls-files
	m = merge
	o = checkout
	ob = checkout -b
	pr = prune -v
	ps = push
	psf = push --force-with-lease --force-if-includes
	psu = push -u
	pso = push origin
	pl = pull
	plo = pull origin
	rb = rebase
	re = reset
	r = remote
	ra = remote add
	rr = remote rm
	rv = remote -v
	rs = remote show
	s = status
	sb = status -s -b
	w = show
	wp = show -p
	wr = show -p --no-color

[merge]
	conflictstyle = zdiff3
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[commit]
	verbose = true

[tag]
	sort = version:refname

[branch]
	sort = -committerdate

[log]
	date = iso

[help]
	autocorrect = prompt

[transfer]
	fsckobjects = true

[receive]
	fsckObjects = true
