[user]
	name = Sukru Uzel
	email = sukru.uzel@gmail.com

[github]
	user = suzel

[format]
	pretty = oneline

[color]
	ui = true

[core]
	autocrl = input
	editor = subl
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore

[push]
	default = matching

[credential]
  helper = osxkeychain

[alias]
	a = add --all
	ai = add -i
	c = commit
	ca = commit -a
	cm = commit -m
	d = diff
	dc = diff --cached
	dl = difftool
	dlc = difftool --cached
	f = fetch
	fo = fetch origin
	fu = fetch upstream
	g = grep -p
	l = log --oneline
	lg = log --oneline --graph --decorate
	ls = ls-files
	m = merge
	o = checkout
	ob = checkout -b
	pr = prune -v
	ps = push
	psf = push -f
	psu = push -u
	pso = push origin
	pl = pull
	plu = pull -u
	plo = pull origin
	rb = rebase
	re = reset
	r = remote
	ra = remote add
	rr = remote rm
	rv = remote -v
	rs = remote show
	s = status
	sb = status -s -b
	w = show
	wp = show -p
	wr = show -p --no-color
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
